#page{
    background-color: lightcyan;
}
#WebPage{
    margin:50px 100px 50px 100px;
}

#PostList{
    background-color: snow;
    height:65%;
    box-shadow: 5px 5px 5px 5px lightskyblue;
}

#TeamNav{
    box-shadow: 5px 5px 5px 5px gray;
}

#TurnPage{
    text-align: center;
}


#Post{
    height: 100%;
    box-shadow: 5px 5px 5px 5px lightskyblue;
}

#Apply{
    text-align: center;
}

#site-page-header-ghost-wrapper {
    padding: 24px;
    background-color: #f5f5f5;
  }

#date{
    text-align: right;
    size: 8px;
}

#PublishPost{
    background-color: #f5f5f5;
}

img{
    text-align: center;
}

h2{
    text-align: center;
    color: darkturquoise;
}

h3{
    text-align: left;
    color: darkblue;
    font-size:20px;
}