#PublishPost{
    background-color:lightcyan;
}

#PostList{
    background-color: snow;
    height:65%;
}

#TurnPage{
    text-align: center;
}

#Title{
    text-align: left;
    color: darkturquoise;
    font-size: 25px;
}

#Content{
    text-align: left;
    font-size: 12px;
}

#UserInfo{
    text-align: center;
}

#UserName{
    font-size:15px;
    color:blue;
    text-align: centet;
}

#UserName:hover{
    color:rgb(73, 73, 214);
}

#Post{
    height: 1000px;
}

#Apply{
    text-align: center;
}

.site-page-header-ghost-wrapper {
    background-color: lightcyan;
    padding: 24px;
  }

img{
    text-align: center;
}

h2{
    text-align: center;
    color: darkturquoise;
}

h3{
    text-align: left;
    color: darkblue;
    font-size:20px;
}