#WebPage{
    margin:50px 100px 50px 100px
}

#PostList{
    background-color: snow;
    height:65%;
}

#Search{
    margin: 50px 50px;
}

#TurnPage{
    text-align: center;
}


#Post{
    height: 1000px;
}

#Apply{
    text-align: center;
}

#site-page-header-ghost-wrapper {
    padding: 24px;
    background-color: #f5f5f5;
  }

#date{
    text-align: right;
    size: 8px;
}

#PublishPost{
    background-color: #f5f5f5;
}

img{
    text-align: center;
}

h2{
    text-align: center;
    color: darkturquoise;
}

h3{
    text-align: left;
    color: darkblue;
    font-size:20px;
}