.Body{
    margin: 80px 10% 10% 10%;
    background: #ececec;
}

.site-card-border-less-wrapper {
    background: #ececec;
  }

  .middle{
    margin: 10px 50px 10px 50px;
}
.backcolor{
    background-color: #ececec;
}