.sortChoseBox{width: 80%;margin: 0 auto ;background-color: cadetblue;}

.informationBox{height:200px;width:80%;margin:0 auto;}
.imageBox{height: 100%;width: 15%;background-color: chocolate;float: left;}
.nameBox{height: 30%;width: 85%;background-color: cyan;float: left;}
.introduceBox{height: 70%;width: 85%;background-color: darkgray;float: left;}