body{
	background-color: rgb(215, 214, 243);
	text-align:center;
}

button{
	margin-top: 10px;
	background-color:rgb(218, 216, 216)
}

button:hover{
	background-color:rgb(192, 191, 191)
}
button:active{
	background-color:gray
}

.clearFix{
	clear: both;
}

.actComShow{
	background-color: rgb(227, 227, 238);
	height: 400px;
	/* border:2px gray solid; */
	margin:40px 150px ;
}

.activityShow{
	background-color: rgb(172, 172, 206);
	float: left;
	width:35%;
	height: 90%;
	border:2px gray solid;
	box-sizing: border-box;
	margin:10px 10px;
	
}

.competitionShow{
	background-color: rgb(172, 172, 206);
	float: right;
	width:45%;
	height: 90%;
	border:2px gray solid;
	box-sizing: border-box;
	margin:10px 10px;
}

.communityShow{
	background-color: rgb(172, 172, 206);
	position: relative;
	height: 500px;
	border:2px gray solid;
	margin:40px 150px;
}

#moreComp{
	float: right;
	margin-right: 20px;
}

#swapComp{
	float: right;
	margin-right: 20px;
}

#compList{
	position: relative;
	padding-top: 30px;
}

#compList li{
	font-size: 16px;
}
