#whole_page{
  background-color:#f0f2f5;
}
.pagecontent{
  margin-top:60px;
}
#ed_card{
  margin: 0 auto;
  width: 1000px;
}
.saveButtons{
  margin: 0 auto;
  padding-top: 20px;
  width: 200px;
}
.saveButtons Button{
  margin-left: 20px;
}
