.CompetitionPage{
    
}

.DiscussListBox{
    border-bottom: 3px solid #ececec;
    border-top: 3px solid #ececec;
}

.CompetitionInformation{
border-bottom: 3px solid #ececec;
border-top: 3px solid #ececec;
}

.CompetitionNameBox{
margin-bottom: 5px;
}
